# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/

# 虚拟环境
.venv/
venv/
env/

# 实验输出
results/

# IDE
.idea/
.vscode/
.claude/

traces/twitter29_all.csv
Learning-Augmented Bit-Model Caching.pdf
项目设计.md
