# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/

# 虚拟环境
.venv/
venv/
env/

# 实验输出
results/

# IDE
.idea/
.vscode/
.claude/
.codebuddy/

# 测试文件
tests/
test_*.py
*_test.py

# trace数据集
traces/twitter29.csv
traces/twitter45.csv
traces/wiki2018.csv
Learning-Augmented Bit-Model Caching.pdf
A Unified Amotz Approach to Approximating Resource Allocation and Scheduling.pdf
A Unified Amotz Approach to Approximating Resource Allocation and Scheduling.pdf
项目设计.md
